.card {
  width: 50%;
  margin: 10px;
  padding: 20px;
  display: flex;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.measurment {
  margin: 2px;
  color: cadetblue;
}

.ingredient {
  margin: 2px;
  padding-left: 15px;
}
