.container {
  align-items: center;

  margin: 20px;
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selectAll {
  color: #70b9be;
  justify-content: end;
}

.instructionCard {
  margin: 10px;
  padding: 20px;
  display: flex;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  text-align: left;
}

.ingredientCard {
  margin: 10px;
  padding: 15px;
  width: 100%;
  display: flex;
  border-radius: 2px;
}

.measurment {
  margin: 2px;
  color: cadetblue;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.step_number {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  color: cadetblue;
}

.instruction {
  margin: 2px;
  padding-left: 15px;
}

.progressBarFill {
  height: 10px;
  background-color: cadetblue;
  transition: width 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button {
  background-color: cadetblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #70b9be;
}

.Image {
  width: 50vh;
  height: 50vh;
}

.instructionText {
  font-size: 18px;
  font-weight: 600;
  padding-top: 15px;
  text-align: left;
}
.container {
  text-align: center;
}
